---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<google_api_key>&maxResults=1&part=snippet&q=NameofCountry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "m1L0-TZ2o1cYN7U4le2FhxfBJtA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 2,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Wed, 18 Jan 2023 15:07:01 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=1&per_page=20&query=NameofCountry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '20'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Wed, 18 Jan 2023 15:07:01 GMT
recorded_with: VCR 6.1.0
